.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh
}
.App-left {
  background-image: linear-gradient(90deg, hsla(212, 100%, 76%, 1) 0%, hsla(209, 77%, 23%, 1) 100%);
  width: 25vw;
  height: 100vh;
}
.App-right {
  background-image: linear-gradient(90deg, hsla(209, 77%, 23%, 1) 0%, hsla(212, 100%, 76%, 1) 100%);
  width: 25vw;
  height: 100vh;
}
.App-middle {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(53, 53, 53);
  background-color: #B4D6D3;
  /* border-left: solid 5px #ff6b35;
  border-right: solid 5px #ff6b35; */
}
.App-title {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg, #2ca2b4, #5598de, #7f87ff, #f65aad, #ec3d43);
  color: transparent;
  animation: background-slide 6s infinite;
  background-size: 200%;
  font-size: 4rem;
}
.App-question-title {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.App-question {
  font-size: 1.5rem;
  max-width: 25vw;
  text-align: center;
}
.App-question-option {
  border-radius: 20px;
  border: solid 0.125rem black;
  width: 100%;
  height: 3.5rem;
  margin-bottom: 1rem;
}

.App-question-option:hover {
  background-color: #3F8EFC;
  color: black;
  box-shadow:rgb(53, 53, 53) 0px 0px 2.5px;
}

.correct {
  background-color: rgb(47, 255, 64) !important;
  color: black;
  box-shadow:rgb(53, 53, 53) 0px 0px 2.5px;
}

.incorrect {
  background-color: rgb(241, 22, 22) !important;
  color: white;
  box-shadow:rgb(53, 53, 53) 0px 0px 2.5px;
}

.hidden {
  background-color: transparent !important;
  color: black;
}

.App-next-button {
  margin-top: 2rem;
  border-radius: 20px;
  border: solid 0.125rem black;
  width: 5vw;
  padding: 1rem;
  margin-bottom: 1rem;
}

.App-category-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border: solid 0.125rem black;
  padding: 1rem;
  border-radius: 0 0 20px 20px;
}

.App-categories-left, .App-categories-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-category {
  border-radius: 20px;
  border: solid 0.125rem black;
  width: 8vw;
  padding: 1rem;
  margin-bottom: 1rem;
}

@keyframes background-slide {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}